<% if @cart.products.any? %>
  <table class="table table-striped table-bordered">
    <thead>
      <th></th>
      <th> <%= t "cart.quantity" %> </th>
      <th> <%= t "products.properties.name" %> </th>
      <th> <%= t "products.properties.unit_price" %> </th>
      <th> <%= t "products.properties.price" %> </th>
    <thead>
    <tbody>
      <% @cart.products.each do |product| %>
        <tr>
          <td> <%= link_to "#{ t "cart.drop" }", cart_remove_product_path(:id =>product.id, :count => nil) , :class => "btn btn-sm btn-danger" %> </td>
          <td>
            <%= product.count %>
            <%= link_to "-", cart_remove_product_path(:id => product.id, :count => 1) , :class => "btn btn-sm btn-danger" %>
            <%= link_to "+", cart_add_product_path(:id => product.id, :count => 1) , :class => "btn btn-sm btn-success" %>
          </td>
          <td> <%= product.try(:title) %> </td>
          <td> <%= product.price %> £ </td>
          <td> <%= product.sum_price %> £</td>
        <tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3"> <%= t "cart.total_products_price" %> </td>
        <td colspan="2" class="price"> <strong><%= @cart.total_products_price %> £</strong> </td>
      </tr>
      <tr>
        <td> <p> <%= t("cart.promotions") %> </p> </td>
        <td colspan="4"> <%= render "cart/discount/form" %> </td>
      </tr>
      <% @cart.discounts.order("reduction_percentage").each do |discount| %>
        <tr>
          <td> <%= link_to t("cart.drop_discount"), cart_remove_discount_path(discount.id), :class=>"btn btn-sm" %> </td>
          <td colspan="3"> <%= discount.name %> </td>
          <td> -<%= discount.reduction_value %><%= discount.reduction_percentage ? "%" : "£"  %> </td>
        </tr>
      <% end %>
    <tfoot>
  </table>
  <%= link_to t("cart.proceed_to_checkout") ,cart_check_out_path, :class => "btn btn-warning" %>
<% else %>
  <label class="label label-primary"> <%= t "cart.no_products" %> </label>
<% end %>
