<%= form_tag cart_add_discount_path, :class=>"inliner form-inline" do %>
  <%= text_field_tag :discount_code, "", :class=>"form-control" ,:placeholder => t("cart.enter_code") %>
  <%= submit_tag t("cart.add_discount"), :class => "btn btn-sm btn-info"   %>
<% end %>
