<section>

  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <p class="alert alert-success"> <%= t("order.just_generated", :reference => @order.reference).html_safe %> <%= t("order.save_reference") %> </p>
        <%= render :template => 'order/show' %>
      </div>

    </div>
  </div>

</section>
