<table class="table table-striped table-bordered">
  <thead>
    <th> <%= t "cart.quantity" %> </th>
    <th> <%= t "products.properties.name" %> </th>
    <th> <%= t "products.properties.unit_price" %> </th>
    <th> <%= t "products.properties.price" %> </th>
  <thead>
  <tbody>
    <% @order.cart.products.each do |product| %>
      <tr>
        <td>
          <%= product.count %> x
        </td>
        <td> <%= product.try(:title) %> </td>
        <td> <%= product.price %> £ </td>
        <td class="text-align--right"> <%= product.sum_price %> £</td>
      <tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2"> <%= t "cart.total_products_price" %> </td>
      <td colspan="2" class="price"> <strong><%= @order.cart.total_products_price %> £</strong> </td>
    </tr>
    <% @order.cart.discounts.order("reduction_percentage").each do |discount| %>
      <tr class="bordered">
        <td colspan="3"> <%= discount.name %> </td>
        <td class="text-align--right"> -<%= discount.reduction_value %><%= discount.reduction_percentage ? "%" : "£"  %> </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3"> <%= t "cart.total_price" %> </td>
      <td colspan="2" class="price total"> <strong><%= @order.cart.total_price %> £</strong> </td>
    </tr>
  <tfoot>
</table>
<h5> <%= t("customer.details") %> </h5>
<hr>

<div class="box cutomer__container">
  <div class="row">
    <div class="col-sm-6">
      <p> <strong><%= t("customer.names") %></strong>: <%= @order.customer.names %> </p>
      <p> <strong><%= t("customer.email") %></strong>: <%= @order.customer.email %> </p>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <p> <strong><%= t("customer.card_type") %></strong>: <%= @order.customer.card_type %> </p>
          <p> <strong><%= t("customer.card_number") %></strong>: <%= @order.customer.card_number %> </p>
        </div>
        <div class="col-sm-6">
          <p> <strong><%= t("customer.card_expiration_date") %></strong>: <%= @order.customer.card_expiration_date %> </p>
          <p> <strong><%= t("customer.card_cv_code") %></strong>: <%= @order.customer.card_cv_code %> </p>
        </div>
      </div>

    </div>
  </div>

</div>

<%= link_to t("global.back_to_shop") ,root_path, :class => "btn btn-info"  %>
