<section>

  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <h3> <%= t("order.tracking") %> </h3>
        <%= form_tag "", :method => "GET" ,:class => "form-inline" do  %>
          <%= text_field_tag :reference, params[:reference], :class => "form-control", :placeholder => t("order.enter_reference") %>
          <%= submit_tag t("order.track"), :class => "btn btn-success" %>
        <% end %>

        <% if !@order.nil? %>
          <hr>
          <%= render :template => 'order/show' %>
        <% end %>
      </div>

    </div>
  </div>

</section>
