<table class="table table-striped table-bordered">
  <thead>
    <th> <%= t "products.properties.name" %> </th>
    <th> <%= t "products.properties.price" %> </th>
    <th></th>
  <thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td> <%= product.try(:title) %> </td>
        <td> <%= product.price %> £ </td>
        <td>
          <%= form_tag cart_add_product_path(product.id), :method => "GET" do  %>
            <div class="inliner">
              <p><%= t "cart.quantity" %></p>
              <%= number_field_tag :count, 1 , :class => "", :min => 1 %>
            </div>
            <%= submit_tag "#{ t "products.add_to_cart" }", :class => "btn btn-sm btn-success" %>
          <% end %>
        </td>
      <tr>
    <% end %>
  </tbody>
</table>
