<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="text-align--center"> <%= t "products.avaiable" %> </h1>
        <%= render 'product_list' %>
        <%= link_to t("order.tracking"), order_tracking_path, :class => "btn btn-info" %>
      </div>
      <div class="col-sm-6">
        <h1 class="text-align--center"> <%= t "cart.your_cart" %> </h1>
        <%= render :template => 'cart/cart_items_list' %>
      </div>
    </div>
  </div>
</section>
