<section>

  <% if !@customer.nil? && @customer.errors.any? %>
    <div id="error_explanation" class='error_container'>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  <% end %>

  <div class="container">
    <%= form_tag cart_check_out_processing_path, :method => "GET"  do  %>
    <h4> <%= t("order.fill_fields") %> </h4>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <%= label_tag t("customer.names") %>
            <%= text_field_tag :names, params[:names], :class => "form-control" %>
            <hr>
            <%= label_tag t("customer.email") %>
            <%= email_field_tag :email, params[:email], :class => "form-control" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-4">
                <%= label_tag t("customer.card_type") %>
                <%= text_field_tag :card_type, params[:card_type], :class => "form-control" %>
              </div>
              <div class="col-sm-8">
                <%= label_tag t("customer.card_number") %>
                <%= number_field_tag :card_number, params[:card_number], :class => "form-control" %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <%= label_tag t("customer.card_cv_code") %>
                <%= number_field_tag :card_cv_code,params[:card_cv_code] , :class => "form-control" %>
              </div>
              <div class="col-sm-9">
                <%= label_tag t("customer.card_expiration_date") %>
                <%= date_field_tag :card_expiration_date,params[:card_expiration_date] , :class => "form-control" %>
              </div>
            </div>

          </div>
        </div>
      </div>
      <%= submit_tag t("cart.order_confirmation"), :class => 'btn btn-success right' %>
      <%= link_to t("global.back_to_shop") ,root_path, :class => "btn btn-info"  %>
    <% end %>
  </div>
<section>
