<% if @cart.products.any? %>
  <table class="table table-striped table-bordered">
    <thead>
      <th> <%= t "cart.quantity" %> </th>
      <th> <%= t "products.properties.name" %> </th>
      <th> <%= t "products.properties.unit_price" %> </th>
      <th> <%= t "products.properties.price" %> </th>
    <thead>
    <tbody>
      <% @cart.products.each do |product| %>
        <tr>
          <td>
            <%= product.count %> x
          </td>
          <td> <%= product.try(:title) %> </td>
          <td> <%= product.price %> £ </td>
          <td class="text-align--right"> <%= product.sum_price %> £</td>
        <tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2"> <%= t "cart.total_products_price" %> </td>
        <td colspan="2" class="price"> <strong><%= @cart.total_products_price %> £</strong> </td>
      </tr>
      <% @cart.discounts.order("reduction_percentage").each do |discount| %>
        <tr class="bordered">
          <td colspan="3"> <%= discount.name %> </td>
          <td class="text-align--right"> -<%= discount.reduction_value %><%= discount.reduction_percentage ? "%" : "£"  %> </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="3"> <%= t "cart.total_price" %> </td>
        <td colspan="2" class="price total"> <strong><%= @cart.total_price %> £</strong> </td>
      </tr>
    <tfoot>
  </table>
<% else %>
  <label class="label label-primary"> <%= t "cart.no_products" %> </label>
<% end %>
