<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-align--center"> <%= t "cart.check_out" %> </h1>
        <%= render 'summary_table' %>
        <%= render 'customer_form' %>
      </div>
    </div>
  </div>
</section>
