/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";


.text-align {
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
  &--left {
    text-align: center;
  }
}

.inliner {
  p,input {
    display: inline-block;
  }
}

.white {
  color: white;
}

.error_container {
  background: rgba(255, 0, 0, 0.78);
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

table tfoot {
  border-top: 2px solid;
  td.price {
    text-align: right;
    &.total {
      background: #e9ecef;
      font-size: 20px;
    }
  }
}

.right {
  float: right;
}

.bordered {
  border-top: 2px solid rgba(128, 128, 128, 0.16);
}
