// Place all the styles related to the Shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$section_spacer: 40px;

section {
  padding-top: $section_spacer;
  padding-bottom: $section_spacer;
}
